.book-tile {
    padding: 1rem;
    border: 1px solid #ddd;
    margin: 1rem;
    font-size: larger;
}

.heartIcon {
    position: absolute;
    bottom: 0.1rem;
    right: 0;
}

.book-image {
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    width: 14.5rem;
    height: 22rem;
    margin-top: 0;
    padding-top: 0;
}

.book-title {
    font-weight: bold;
}

.book-price {
    color: green;
}

/* Quantity Control Styles */
.quantity-control {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
}

.quantity-buttons {

    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.quantity-value {
    margin: 0 10px;
    font-weight: bold;
}

.quantity-label{
    margin-right: 6rem;
}

/* Star Rating Styles */
.rating {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
}

.yellow-star {
    --slds-c-icon-color-foreground-default: gold;

}
