.book-details {
    padding: 2.5rem; /* Increase padding of the card */
    
}

.back-button {
    position: absolute;
    top: 1rem;
    left: 1rem; /* Move back button to the left side */
   
}

.book-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 2rem; /* Increase space between book image and details */
}

.book-img img {
    width: 100%;
    max-width: 300px;
    border: 1px solid black;
    margin-top: 1rem;
}

.book-info {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    padding: 0 1rem;
}

.book-title {
    font-size: 1.5rem; /* Increase font size of book title */
    font-weight: bold; /* Make the book title bold */
    margin-bottom: 1.5rem;
}

.book-info p {
    margin-bottom: 0.5rem; /* Increase space between each detail in book details */
    font-size: 1rem; /* Increase font size */
}

.reviews-section {
    width: 100%;
    margin-top: 3rem;
}

h2{
    font-size: 1rem;
}

.customer-reviews {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0 1rem;
}

.review {
    margin-bottom: 1.5rem; /* Increase space between each review */
}

.review-divider {
    border-top: 1px solid #ccc; /* Line between reviews */
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    .book-content {
        flex-direction: row;
        align-items: flex-start;
    }

    .book-info {
        text-align: left;
        margin-left: 2rem;
        width: 60%;
    }

    .reviews-section {
        margin-top: 3rem;
        text-align: left;
    }

    .customer-reviews {
        margin-top: 2rem;
    }
}
