.book-details{
    padding:6rem;
    height: 50%;
    padding-bottom: 0;
}

img{
    height: 27rem;
    width: 18rem;
    border: 1px black;
    
    margin-top: 0.6rem;
}

.book-info{
    margin-top: 1rem;
    margin-left: 5rem;
    
    width: 60%;
    position: absolute;
    right: 3rem;
}

.book-info p {
    margin-bottom: 0.5rem;
}

.heading{
    font-size: large;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.cart-button{
    margin-right: 1.5rem;
}


.slds-card {
    padding: 1rem;
}
.review {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}
.review-form-section {
    margin-top: 2rem;
}

h2{
    font-size: larger;
}