.slds-modal__container {
    width: 50%;
}

.slds-modal__content {
    padding: 1rem;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    margin: 1rem;

}

.slds-table {
    width: 100%;
}

.close-button{
    position: absolute;
    right: 1rem;
}

.cancel-button{
    margin-right: 1rem;
}

.empty-cart{
    padding: 1rem;
    font-size: larger;
}

