.account-name h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-details p {
    margin: 5px 0;
}

.lightning-combobox {
    margin-bottom: 20px;
}

.details{
    margin: 1rem;
}

.form{
    padding: 1rem;
}

.cancel-button{
    margin-right: 1rem;
}

.new-contact-button{
    position: absolute;
    right: 1rem;
    top: 1rem;
}