.author-tile {
    padding: 1rem;
    border: 1px solid #ddd;
    margin: 1rem;
    font-size: larger;
}



.author-image {
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    width: 10rem;
    height: 10rem;
    margin-top: 0;
    padding-top: 0;
}

.author-title {
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 80%;
    margin-left: auto;
}

