.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 2rem;
}

.author-list {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    position: relative;
    z-index: 1; 
}

.slds-col {
    flex-basis: 100%; /* Mobile: Full width for each author */
    max-width: 100%;
    padding: 1rem;
}

@media screen and (min-width: 600px) {
    .slds-col {
        flex-basis: 50%; /* Tablet: 2 authors per row */
        max-width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .slds-col {
        flex-basis: 20%; /* Desktop: 5 authors per row */
        max-width: 20%;
    }
}

.previous-button,
.next-button {
    margin-left: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .previous-button,
    .next-button {
        margin-left: 0;
        margin-right: 0.5rem;
        width: 48%;
    }
}
